.author
  padding 1rem !important
  text-align center

  .author-icon
    padding .5rem

  .author-name
    padding .5rem
    font-size 1.3rem
    color #0073b1

  .author-introdution
    padding-top 1rem
    font-size .8rem
    color #999

    .account
      background-color #ccc
      margin-left .5rem
      margin-right .5rem

