.header
  overflow hidden
  height 3.2rem
  background-color #fff
  padding .4rem
  border-bottom 1px solid #ccc

  .header-logo
    color #0073b1
    font-size 1.4rem

  .header-info
    font-size 0.6rem
    color #999
    display inline-block
    padding-left 0.3rem

  .ant-menu
    line-height 2.8rem

