.bread-nav
  padding: .5rem
  background-color: rgba(0, 115, 177, .1)
  border-radius .3rem

.detail-title
  padding 1.2rem
  text-align center
  font-size 1.6rem

.center
  text-align center

.detail-content
  padding 1rem
  font-size 1rem

  code
    display inline-block
    color #dd0055
    background-color #f9f9f9
    padding 0 .3rem
    font-weight 300
    font-family Consolas, monospace
    border-radius .3rem
    font-size .8rem

  pre
    display block
    background-color #283646 !important
    padding .5rem !important
    overflow-y auto
    font-weight 300
    font-family Consolas, monospace
    border-radius .3rem

    code
      background-color #283646 !important
      color: #fff



