body
  background-color #f6f6f6 !important

  .common-main
    margin-top .5rem

    .common-left
      background-color #fff
      padding .3rem
      border-radius .3rem
      border-bottom 1px solid #eee

      .list-title
        font-size 1.3rem
        color #0073b1
        padding 0 .5rem

      .list-icon
        color #aaa
        padding .5rem 0
        font-size .8rem

        span
          display inline-block
          padding 0 .25rem

      .list-introduce
        color #666
        padding .5rem

    .common-right
      .common-box
        background-color #fff
        margin-left .5rem
        padding .3rem
        border-radius .3rem
        border-bottom 1px solid #eee
